*__pycache__
/cmake-build-debug
/.clion.source.upload.marker
/.idea
.vscode
.DS_Store
*.DS_Store
*.frama-c
*.deb
*.goto
*.d
*.o
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
verify/proofs2/